[Unit]
Description=Webshot development stack (Quadlet)
Requires=webshot-crawler-network.service
Requires=webshot-postgres.service
Requires=webshot-seaweed.service
Requires=webshot-scalar.service
Requires=webshot-reverse-proxy.service
After=webshot-crawler-network.service

